body {
  font-family: 'RobotoDraft', sans-serif;
}

canvas {
  overflow:hidden;
}

core-header-panel {
  background: white;
}
core-toolbar {
  background-color: #00bfff;
  color: #fff;
  fill: #fff;
}
paper-fab {
  position:absolute;
  bottom:20px;
  right:20px;
  background: #F44336;
  transition: bottom 0.4s ease;
}
paper-fab.retire {
  bottom:-60px;
}
core-drawer-panel:not([narrow]) #navicon {
  display: none;
}
core-drawer-panel:not([narrow]) [main] core-toolbar span {
  color:transparent;
}
[narrow] [drawer]::shadow #dropShadow  {
  display: none;
}
[narrow] [drawer] core-toolbar {
  display: none;
}
paper-spinner {
  height:20vmin;
  width:20vmin;
  position:absolute;
  margin-top:25%;
  margin-left:40%;
  padding-top:-10vmin;
  padding-left:-10vmin;
}
core-toolbar paper-icon-button {
  height:100%;
  border-top:3px solid rgba(0,0,0,0);
  border-bottom:3px solid rgba(0,0,0,0);
  box-sizing:border-box;
}
core-toolbar paper-icon-button[selected=true] {
  border-bottom:3px solid rgba(255,255,255,0.5);
}
core-toolbar paper-icon-button::shadow core-icon {
  height:100%;
}
#file-menu {
  position:absolute;
  top:53px;
  right:10px;
  width:200px;
  color:black;
}
#file-menu hr {
  margin-top:5px;
  margin-bottom:5px;
  border-top:1px solid gray;
}
html /deep/ #mainContainer {
  overflow-y:hidden;
}

/* for Firefox */
core-header-panel #mainContainer {
  overflow-y:hidden;
}
#mainPanel #mainContainer {
  overflow-y:hidden;
}
core-toolbar paper-icon-button core-icon {
  height:100%;
}
