canvas {
  overflow:hidden;
}

core-header-panel {
  background: white;
}
core-toolbar {
  background-color: #00bfff;
  color: #fff;
  fill: #fff;
}
paper-fab {
  position:absolute;
  bottom:20px;
  right:20px;
  background: #F44336;
}
core-drawer-panel:not([narrow]) #navicon {
  display: none;
}
core-drawer-panel:not([narrow]) [main] core-toolbar span {
  color:transparent;
}
[narrow] [drawer]::shadow #dropShadow  {
  display: none;
}
[narrow] [drawer] core-toolbar {
  display: none;
}
paper-spinner {
  height:20vmin;
  width:20vmin;
  position:absolute;
  margin-top:25%;
  margin-left:40%;
  padding-top:-10vmin;
  padding-left:-10vmin;
}
div[layout] {
  margin:16px;
}
