body {
  overflow:hidden;
}
button {
  height:40px;
  font-weight:bold;
  border-radius:20px;
  border:1px solid white;
  background-color:white;
  padding-left:10px;
  padding-right:10px;
  margin:5px;
}
canvas {
  overflow:hidden;
}
.now-making {
  color:white;
  font-size:3em;
  left:0;
  height:100%;
  text-align:center;
  text-shadow: 0 0 10px black;
  top:0;
  padding-top:20%;
  position:absolute;
  width:100%;
  z-index:10;
}
