<polymer-element name="settings-panel">
  <template>
    <style>
    section {
      padding:4px 16px;
      color:white;
    }
    h2 {
      font-size:1.1em;
      color:#C5CAE9;
    }
    /*
    h2::before {
      content: '\000BB';
    }
    */
    paper-slider {
      width:150px;
    }
    paper-dropdown-menu {
      box-sizing:border-box;
      width:130px;
      border-bottom: 1px solid white;
    }
    paper-dropdown {
      position:absolute;
    }
    .dropdown {
      position:absolute;
      height:360px;
      width:130px;
    }
    core-menu {
      box-sizing:border-box;
      width:130px;
    }
    paper-item {
      overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
      width:120px;
    }
    ::shadow #label, ::shadow #arrow {
      color:white;
    }
    ::shadow paper-radio-button::shadow #ink[checked] {
      color: #3f51b5;
    }
    ::shadow paper-radio-button::shadow #onRadio {
      background-color: #3f51b5;
    }
    ::shadow paper-radio-button::shadow #offRadio {
      border-color: #c8c8c8;
    }
    ::shadow #toggleBar {
      background-color: #c8c8c8;
    }
    ::shadow #toggleBar[checked] {
      background-color: #3f51b5;
    }
    </style>

    <section>
      <h2>View</h2>
      <div center horizontal layout>
        <div flex>Wireframe</div>
        <paper-toggle-button id="mesh" class="blue" on-trackstart={{cancelBubble}} on-trackx={{cancelBubble}} on-trackend={{cancelBubble}}></paper-toggle-button>
      </div>

      <!--
      <div center horizontal layout>
        <div flex>Bumpmap</div>
        <paper-toggle-button id="bumpmap"></paper-toggle-button>
      </div>

      <div center horizontal layout>
        <div flex>Toonshader</div>
        <paper-toggle-button id="toon"></paper-toggle-button>
      </div>
      -->
    </section>

    <section>
      <h2>Brush</h2>
      <div center horizontal layout>
        <div flex>Width</div>
        <paper-slider id="line-width" pin min="30" max="100" step="10" value="50" on-trackstart={{cancelBubble}} on-trackx={{cancelBubble}} on-trackend={{cancelBubble}}></paper-slider>
      </div>

      <div center horizontal layout>
        <div flex>Color</div>
        <paper-dropdown-menu label="Pen color" style="border-botton: 1px solid white;">
          <paper-dropdown class="dropdown" style="color:#1A237E;">
            <core-menu id="line-color" class="menu" valueattr="id" selected="{{selectedColor}}">
              <template repeat="{{color in colors}}">
                <paper-item id="{{color.rgb}}">{{color.label}}</paper-item>
              </template>
            </core-menu>
          </paper-dropdown>
        </paper-dropdown-menu>
      </div>
    </section>

    <section>
      <h2>Texture</h2>
      <!--
      <div center horizontal layout>
        <div flex>File</div>
        <paper-icon-button id="file" icon="file-upload" flex></paper-icon-button>
      </div>
      -->
      <div center horizontal layout>
        <div flex>Camera</div>
        <paper-icon-button id="camera" icon="image:camera-alt"></paper-icon-button>
      </div>

      <div center horizontal layout>
        <div flex>Clear</div>
        <paper-icon-button id="clear-texture" icon="clear"></paper-icon-button>
      </div>
    </section>

    <section>
      <h2>Data</h2>

      <div center horizontal layout>
        <div flex>Download as Obj/Mtl</div>
        <paper-icon-button id="download-obj" icon="cloud-download"></paper-icon-button>
      </div>

      <div center horizontal layout>
        <div flex>Save</div>
        <paper-icon-button id="save-local" icon="save"></paper-icon-button>
      </div>

      <div center horizontal layout>
        <div flex>Load</div>
        <paper-icon-button id="load-local" icon="folder-open"></paper-icon-button>
        <paper-dropdown id="local-models-dropdown" style="height:100px; width:100px; right:60px;">
          <core-selector id="local-models">
            <div id="model1">model1</div>
            <div id="model2">model2</div>
            <div id="model3">model3</div>
            <template repeat="{{model in models}}">
              <div id="{{model}}">{{model}}</div>
            </template>
          </core-selectoru>
        </paper-dropdown>
      </div>

      <div center horizontal layout>
        <div flex>Clear All</div>
        <paper-icon-button id="clear-all-local" icon="clear"></paper-icon-button>
      </div>

      <!--
      <div center horizontal layout>
        <div flex>Upload</div>
        <paper-icon-button id="upload" icon="cloud-upload"></paper-icon-button>
      </div>
      -->
    </section>

    <!--
    <section>
      <h2>Data</h2>
      <div center horizontal layout>
        <div flex>Load</div>
        <paper-icon-button id="load" icon="file-download" flex></paper-icon-button>
      </div>
      <div center horizontal layout>
        <div flex>Save</div>
        <paper-icon-button id="save" icon="file-upload" flex></paper-icon-button>
      </div>
      <div center horizontal layout>
        <div flex>Share</div>
        <paper-icon-button id="share" icon="social:share" flex></paper-icon-button>
      </div>
    </section>

    <section>
      <h2>Bodies</h2>
    </section>
    -->
  </template>

  <script>
  Polymer({
    selectedColor: '#0000FF',
    colors: [
      {'rgb':'#FF0000', 'label':'Red'},
      {'rgb':'#00FF00', 'label':'Green'},
      {'rgb':'#0000FF', 'label':'Blue'},
      {'rgb':'#FFFF00', 'label':'Yellow'},
      {'rgb':'#FF9900', 'label':'Orange'},
      {'rgb':'#000000', 'label':'Black'},
      {'rgb':'#FFFFFF', 'label':'Erase'}
    ],
    cancelBubble: function(e) {e.cancelBubble = true;}
  });
  </script>
</polymer-element>
